/* Main Start */
/*/ Main | Header Start /*/
main .header{
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgb(64,140,221);
    background: linear-gradient(90deg, rgba(64,140,221,1) 0%, rgba(52,123,186,1) 45%, rgba(37,103,147,1) 100%);
}
main .header h1{
    font-size: 36px;
}
main .header h2{
    font-size: 26px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: 20px;
}
main .header .trends{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .header .trends button{
    background-color: rgb(127, 167, 197);
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}
main .header .trends button:last-child{
    background-color: white;
    color: black;
}
@media (max-width: 900px){
    main .header h1{
        font-size: 28px;
    }
    main .header h2{
        font-size: 22px;
    }
    main .header .search-box{
        padding: 10px;
    }
}
@media (max-width: 550px){
    main .header h1{
        font-size: 24px;
    }
    main .header h2{
        font-size: 18px;
    }
}

/*/ Trends Characters | Main Start /*/
.trends-characters .characters-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.trends-characters .characters-box .character{
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.trends-characters .characters-box .character:hover{
    box-shadow: 1px 1px 5px black;
}
.trends-characters .characters-box .character .image img{
    border-radius: 20px;
    width: 100%;
    padding: 10px;
}
.trends-characters .characters-box .character .info{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.trends-characters .characters-box .character .info .char-name{
    line-height: 30px;
    font-weight: bolder;
}
.trends-characters .characters-box .character .info .char-bio{
    color: rgb(145, 145, 145);
    font-weight: bold;
}

/*/ Trends Companys | Main Start /*/
.trends-companys .companys-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.trends-companys .companys-box .company{
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.trends-companys .companys-box .company:hover{
    box-shadow: 1px 1px 5px black;
}
.trends-companys .companys-box .company .image{
    padding: 20px;
}
.trends-companys .companys-box .company .image img{
    width: 100%;
    border-radius: 20px;
}
.trends-companys .companys-box .company .info{
    text-align: center;
    padding: 10px;
}

/*/ Catgs Choosen | Main Start /*/
.catgs-choosen .catgs-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.catgs-choosen .catgs-box .catg{
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}   
.catgs-choosen .catgs-box .catg:hover{
    box-shadow: 1px 1px 5px black;
}
.catgs-choosen .catgs-box .catg .image{
    padding: 20px;
}
.catgs-choosen .catgs-box .catg .image img{
    width: 100%;
    border-radius: 20px;
}
.catgs-choosen .catgs-box .catg .info{
    text-align: center;
    padding: 10px;
}